@import 'variables';
* {
  font-family: $font-body;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: $font-body;
  line-height: 1;
  color: $color-dark-text;
  font-size: 1.6rem;
}
input,
button {
  outline: none;
  font-family: $font-body;
  line-height: 1;
}
button {
  cursor: pointer;
}
