//Colors
$color-primary-purple: #634c9f;
$color-primary-purple-light: #7a5dc7;

// Accent Colors
$color-dark-red: #dc2626;
$color-first-green: #16a34a;
$color-second-green: #166534;
$color-light-green: #96e6a1;
$color-pastel-yellow: #d4fc79;
$color-gold-yellow: #ffd200;
$color-light-blue: #e7f8fd;
$color-sky-blue: #a5efff;
$color-teal-blue: #0891b2;
$color-burnt-orange: #ea580c;
$color-peach: #ffedd5;
$color-deep-brown: #7c2d12;

// Text Colors
$color-dark-text: #000000;
$color-medium-text: #6b7280;
$color-third-text: #39245f;
$color-light-text: #ffffff;

// Background Colors
$color-main-background: #ffffff;
$color-second-background: #f3f4f6;

//Fonts
$font-body: 'Poppins', sans-serif;

//Sizes layout
$root: 1920px;
$container: 1600px;
