@import '../base/variables';
.btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: $color-primary-purple;
  color: $color-main-background;
  transition: 0.3s;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;

  &:hover {
    background-color: #6a5acd;
  }
}
