.profile__tab {
  &-order {
    .profile__tab-header {
      .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
          background-color: transparent;
          border: none;
          font-size: 1.6rem;
          font-weight: 500;
          margin-top: -2rem;
          padding: 2rem 2rem;

          &.active {
            color: $color-primary-purple;
            border-bottom: 2px solid $color-primary-purple;
          }
        }
      }
    }

    .order-tracking {
      background: #fff;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 2rem;
      font-weight: 500;
      margin-bottom: 2rem;
      .order__info {
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        span {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      .info__total {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}
